@import "tailwindcss";

:root {
	--background: #000909;
	--foreground: #efffff;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: (--sans), sans-serif;
}
